/* PAGE RULES and ELEMENTS */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

body {
    background-color: #f6f5f3;
}

.recipe,
.banner,
.presentation {
    padding-left: 5%;
    padding-right: 5%;
}


/* TABLET FIRST */
/* HEADER */
header {
    height: 80px;
    background-color: white;
    padding-left: 1rem;
}

#logo {
    font-family: "Nerko One", sans-serif;
    font-style: italic;
    color: #ff9614;
    font-size: 4rem;
    text-shadow: 1px 1px 3px gray;
}


/* RECIPE SECTION */
.recipe {
    padding-top: 40px;
}

h3 {
    font-size: 0.8rem;
    color: grey;
    font-weight: 200;
}

h1 {
    font-size: 1.5rem;
    color: #4e3969;
    padding-bottom: 10px;
}

#mobile-title {
    display: none;
}

/* main recipe */
.video img {
    display: block;
    width: 100%;
}

.resume {
    background-color: white;
    box-shadow: 1px 1px 20px gray;
    padding: 2rem;
}

h4 {
    font-size: 1rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list p {
    font-size: 0.6rem;
    width: calc(100%/3);
    padding-top: 1rem;
}

/* social */
.social {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social a {
    text-decoration: none;
    padding: 5px 40px 5px 40px;
    background-color: white;
    box-shadow: 1px 1px 20px gray;
    border-radius: 30px;
}

.social span {
    display: none;
}


/* AD SECTION */
#banner {
    display: block;
    width: 100%;
}


/* PRESENTATION SECTION */
.presentation {
    padding-top: 30px;
    padding-bottom: 60px;
}

.presentation h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.spacer {
    width: 15%;
    height: 2px;
    background-color: #f6b46b;
    margin-top: 20px;
    margin-bottom: 30px;
}

.presentation p {
    font-size: 0.8rem;
}

.presentation img {
    height: 200px;
    display: block;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}


/* FOOTER */
footer {
    background-color: #7c69a4;
    padding: 20px 5% 10px 5%;
}

.info h6 {
    color: white;
    text-align: center;
}

.info p {
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

.about-us {
    display: flex;
    justify-content: center;
}

.about-us a {
    text-align: center;
    color: white;
    font-size: 0.6rem;
    padding: 10px;
}


/*************************************************
    DESKTOP VERSION
 *************************************************/
@media screen and (min-width: 992px) {

    .recipe,
    .banner,
    .presentation {
        padding-left: 15%;
        padding-right: 15%;
    }

    h3 {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.2rem;
    }

    .main-recipe {
        display: flex;
    }

    .video {
        width: 75%;
    }

    .resume {
        width: 25%;
        padding-right: 10px;
    }

    .list {
        display: block;
    }

    .list p {
        font-size: 0.8rem;
        width: 100%;
    }

    .social a {
        display: flex;
        padding: 5px 15px 5px 15px;
    }

    .social span {
        display: block;
        color: black;
        font-size: 0.8rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    .info {
        width: 35%;
    }

    .about-us {
        width: 35%;
    }

    .info h6 {
        text-align: left;
    }

    .info p {
        text-align: left;
    }
}


/*************************************************
    MOBILE VERSION
 *************************************************/
@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 60px;
    }

    #logo {
        text-align: center;
        font-size: 2.5rem;
    }

    #title {
        display: none;
    }

    #mobile-title {
        display: block;
    }

    .list {
        display: block;
    }

    .list p {
        width: 100%;
    }

    .social a {
        padding: 5px 7px 5px 7px;
    }

    .banner {
        display: none;
    }

    .presentation {
        padding-top: 0;
    }

    .spacer {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .presentation img {
        float: none;
        padding: 0;
        padding-bottom: 10px;
        padding-left: 10%;
        padding-right: 10%;
        height: auto;
    }

    .clearfix {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}