/*PAGE RULES and ELEMENTS*/
* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f6f5f3;
}


/* TABLET FIRST */
/* HEADER */

header {
    height: 80px;
    background-color: white;
    padding-left: 1rem;
}

#logo {
    font-family: "Nerko One", sans-serif;
    color: #ff9614;
    font-size: 4rem;
    text-shadow: 1px 1px 3px gray;
}


/* RECIPE SECTION */
.recipe {
    padding: 40px 30px 0 30px;

    background-color: #ff9614;
}

h3 {
    font-size: 1rem;
    color: grey;
    font-weight: 100;
}

h1 {
    font-size: 2rem;
    color: #4e3969;
}